before_install:
  - mkdir -p LipaLightningLib/src/main/jniLibs/arm64
  - mkdir -p LipaLightningLib/src/main/jniLibs/arm64-v8a
  - mkdir -p LipaLightningLib/src/main/jniLibs/armeabi
  - mkdir -p LipaLightningLib/src/main/jniLibs/x86
  - wget https://github.com/danielgranhao/test-push-to-another-repo-android-target/releases/download/to_replace_release_version/libuniffi_lipalightninglib_arm64.so
  - wget https://github.com/danielgranhao/test-push-to-another-repo-android-target/releases/download/to_replace_release_version/libuniffi_lipalightninglib_armeabi.so
  - wget https://github.com/danielgranhao/test-push-to-another-repo-android-target/releases/download/to_replace_release_version/libuniffi_lipalightninglib_x86.so
  - cp libuniffi_lipalightninglib_arm64.so LipaLightningLib/src/main/jniLibs/arm64/libuniffi_lipalightninglib.so
  - cp libuniffi_lipalightninglib_arm64.so LipaLightningLib/src/main/jniLibs/arm64-v8a/libuniffi_lipalightninglib.so
  - cp libuniffi_lipalightninglib_armeabi.so LipaLightningLib/src/main/jniLibs/armeabi/libuniffi_lipalightninglib.so
  - cp libuniffi_lipalightninglib_x86.so LipaLightningLib/src/main/jniLibs/x86/libuniffi_lipalightninglib.so
  - wget https://github.com/java-native-access/jna/archive/refs/tags/5.8.0.zip
  - unzip 5.8.0.zip
  - unzip -o jna-5.8.0/dist/android-aarch64.jar
  - cp libjnidispatch.so LipaLightningLib/src/main/jniLibs/arm64
  - cp libjnidispatch.so LipaLightningLib/src/main/jniLibs/arm64-v8a
  - unzip -o jna-5.8.0/dist/android-armv7.jar
  - cp libjnidispatch.so LipaLightningLib/src/main/jniLibs/armeabi
  - unzip -o jna-5.8.0/dist/android-x86.jar
  - cp libjnidispatch.so LipaLightningLib/src/main/jniLibs/x86